html {
  height: 100%;
}
body {
  margin: 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#615dad, #ffc8da);
  display: flex;
  justify-content: center;
  color: #ffffff;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 8vw;
  font-weight: 100;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0%;
}

button,
a {
  padding: 1rem;
  border-style: none;
  text-decoration: none;
  font-size: 3vw;
  color: #ffffff;
  margin: 0%;
}

button .zacit {
  padding-bottom: 20%;
}

ol {
  margin: 0%;
  padding: 2%;
}

li {
  padding: 2%;
}

.nabidka {
  /* možná předělat na block → půjde pak hodit img do classu v divu a nebudu to muset zvlášť nastavovat přímo u img*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: max-content;
  text-align: center;
  background-color: #283e50;
  font-size: 3vw;
  border-radius: 15px 15px 0px 0px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.img__uvodni {
  width: 100%;
}

img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}

.uvod-content {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pravidla {
  background-color: #1fcca4;
}

.pravidla:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.zacit {
  background-color: #0197f6;
}

.zacit:hover {
  background-color: #0090e9;
  cursor: pointer;
}

/* ------------------          stránka Pravidla ------------------------------- */

.rules-descr__text {
  text-align: left;
  padding: 1.5rem;
  font-family: sans-serif;
}
.img__svg {
  width: 1rem;
  height: 1em;
  filter: invert(1);
}

.rules-descr__img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: sans-serif;
  margin: 0%;
}
.img-fig {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  font-style: italic;
}

figure img {
  border-radius: 0px 0px 0px 0px;
}
/* ------------------          stránka Hra  ----------------------------------- */
.game {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.game button {
  border: 2px solid #283e50;
  background-color: #c4a8f6;
  width: 8vmin;
  height: 8vmin;
}

.game button:hover {
  background-color: #cdbbec;
  cursor: pointer;
}

.game h2 {
  font-size: 3vw;
}

.game h2 img {
  width: 3vw;
  height: 3vw;
  filter: invert(1);
}

.game-nav {
  display: flex;
  justify-content: space-between;
  padding: 3vw;
}
.game-nav__turns {
  align-items: center;
}
.game-nav__icons {
  display: flex;
}

#home-icon,
#restart-icon {
  width: 3vw;
  height: 3vw;
  padding: 10%;
  border-radius: 7px 7px 7px 7px;
}
#home-icon {
  background-color: #1fcca4;
}

#home-icon:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

#restart-icon {
  background-color: #0197f6;
}
#restart-icon:hover {
  background-color: #0090e9;
  cursor: pointer;
}

/*------------------------------ breakpointy -----------------------------------*/

@media (min-width: 800px) {
  .rules-descr__img {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-fig {
    width: calc(100% / 2);
    justify-content: flex-start;
  }
  .nabidka,
  button,
  a {
    font-size: 1vw;
  }

  ol {
    padding: 5%;
  }
  li {
    padding: 1%;
  }

  h1 {
    font-size: 5vw;
  }

  .nabidka__uvodni {
    max-width: 30%;
  }
}
