html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#615dad, #ffc8da);
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 7.5vw;
  font-weight: 100;
  padding: 0.5rem;
  margin-bottom: 0%;
}

button,
a {
  color: #ffffff;
  padding: 1rem;
  font-size: 2vw;
  border-style: none;
  text-decoration: none;
}

.nabidka {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: max-content;
  min-height: 80%;
  text-align: center;
  background-color: #283e50;
  color: #ffffff;
  border-radius: 15px 15px 0px 0px;
  margin-top: 50px;
}

.img__uvodni {
  display: flex;
  width: 100%;
}

img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}

.uvod-content {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 2vw;
  padding: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pravidla {
  background-color: #1fcca4;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacit {
  background-color: #0197f6;
}

.zacit:hover {
  background-color: #0090e9;
}

.rules-descr__text {
  text-align: left;
  padding: 1.5rem;
  font-family: sans-serif;
  font-size: 1.5vw;
}
.img__svg {
  width: 1rem;
  height: 1em;
  filter: invert(1);
}

li {
  padding: 0.5rem;
}
.rules-descr__img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: sans-serif;
  margin: 0%;
}
.img-fig {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  font-style: italic;
  font-size: 1.5vw;
}

figure img {
  border-radius: 0px 0px 0px 0px;
}

@media (min-width: 1350px) {
  .rules-descr__img {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-fig {
    width: calc(100% / 2);
    justify-content: flex-start;
  }
}
